.nav{
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    position: relative;
    top: 0px;
    left: 0px;
    margin: 30px 0px 183px 30px;
    width: 105px;
    height: 39px;
}

.nav__links{
    display: flex;
    column-gap: 20px;
    list-style-type: none;
    margin: 30px 80px 0 0;
    padding-left: 0px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__link{
   transition: color .5s ease .5s;
}

.nav__link:hover{
    color: #2F80ED;
}