.page{
    min-width: 1100px;
    max-width: 1600px;
    margin: auto;
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", Arial, sans-serif; 
}

.header{
    background-color: #fff;
    background-image: url(../images/background_header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
}

.header__title{
    max-width: 729px;
    margin: 0px 0px 28px 80px;
    font-family:"Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
}

.header__span-accent{
    display: block;
    color: #2f80ed;
    font-style: italic;
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-size: 60px;
    line-height: 72px;
    
}

.header__description{
    max-width: 683px;
    margin: 0 0 0 80px;
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
}

.header__image{
    width: 646px;
    height: 568px;
    position: absolute;
    top:124px;
    right: 5px;
    bottom: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.header__footer{
    margin-top: auto;
}
.header__paragraph{
    display: flex;
    justify-content: space-between;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
}

.header__paragraph-list{
    list-style-type: none;
    margin: 0 0 40px 80px;
    padding-left: 0px;
}



.header__paragraph-list-item{

}

.header__paragraph-address{
    margin: 0 80px 40px 0;
    align-self: flex-end;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    position: relative;
    top: 0px;
    left: 0px;
    margin: 30px 0px 183px 30px;
    width: 105px;
    height: 39px;
}

.nav__link{
    
}


.nav__links{
    display: flex;
    column-gap: 20px;
    list-style-type: none;
    margin: 30px 80px 0 0;
    padding-left: 0px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.content{
    display: flex;
    flex-direction: column;
}
.recipes{
    background-color: #0a2750;
    background-image: url(../images/background_recipes.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    color: #FFF;
}

.recipes__title{
    max-width: 500px;
    margin: 100px 0 24px 80px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;

   
}

.recipes__subtitle{
    max-width: 438px;
    margin: 0 0 80px 80px;
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
  
}

.recipes__videos{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.recipes__iframe{
    border: none;
    width: 480px;
    height: 273px;
    
}



.recipes__video-captain{
    display:flex;
    justify-content: space-between;
    margin: 24px 0 100px 0;
    font-family:  "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.recipes__video-captain-syntex_span-left{

}

.recipes__video-captain-syntex_span-right{
}

.reservation{
    background-color: #D9E7FF;
    background-image: url(../images/background_reservation.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction:column;
    align-items: center;
    min-height: 720px;
    max-height: 800px;
    padding: 100px 0 120px;
    height: 100vh;
}

.reservation__title{
    margin: 0px 0px 80px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  

}

.reservations__form{

}

.form{
    display: flex;
    border: 0;
}

.form__fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    margin: auto;
}

.form__label{
    margin: 0 0 8px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__label:nth-of-type(n+2):nth-of-type(-n+4){
    margin: 32px 0 8px;
}

.form__label:nth-of-type(5){
    margin: 0 0 0px;
  
}

.form__label-checkbox-spacing
{
    display: flex;
    gap: 12px;
    justify-content: center;
    
}

.form__input{
    max-width: 385px;
    height: 54px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #838383;

}

.form__button{
    border-radius: 4px;
    transition: opacity ease;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__button:hover{
    opacity: .7;
}


.form__checkbox{
    border-radius: 2px;
    background-color: #2F80ED;
    background-image: url(../check.svg); 
    height: 20px;
    width: 20px;
}

.footer{
    
}